*{
    border-radius: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 101, 129);
  }
  
  h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    padding-top: 30px;
    text-transform: uppecase;
    color: white;
    text-shadow: 0 0 1px transparent, 0 1px px rgb(0 0 0/ 50%);
  }
  body >img {
     object-fit: cover;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
  }
  section{
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    overflow: scroll;
    
  }
  section > div{
    padding: 100px 10px;
  }
  section div img{
    width: 59px;
    aspect-ratio: 1;
    border-radius: 30%;
    
  }
  section div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
   
  }
  a{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1.5px solid white;
    padding: 18px;
    color: white;
    text-decoration: none;
    gap: 20px;
    align-items: center;
    border-radius: 4px;
    transition-duration: 200ms;
	
;  }
  a:hover{
    background:   #0f172a;
    color: #0f172a;
  }
  a i{
    font-size: 1.3cm;
  }
  header{
    text-align: center;
  }